.logo {
    height: 26px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-content {
    background: white;
}

.cm-editor {
    border: 1px solid #d9d9d9;
    outline: none !important;
}
