.logo {
    height: 26px;
    margin: 26px 16px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 26px;
}

.site-layout .site-layout-background {
    background: #fff;
}
